# Web Framework
fastapi==0.109.0
uvicorn[standard]==0.27.0
pydantic==2.5.3
pydantic-settings==2.1.0
aiosmtplib


# Database
sqlalchemy==2.0.25
alembic==1.13.1
psycopg2-binary==2.9.9

python-jose[cryptography]
passlib
PyJWT
passlib[bcrypt]==1.7.4
bcrypt==4.1.2

python-multipart==0.0.6

# Environment
python-dotenv==1.0.0

# Device detection
user-agents

# Testing
pytest==7.4.4
pytest-cov==4.1.0
pytest-asyncio==0.23.3
pytest-mock
httpx==0.26.0

# Email validation
email-validator==2.1.0.post1
user-agents

requests>=2.31.0
google-auth>=2.23.0
google-auth-httplib2>=0.1.1
google-auth-oauthlib>=1.1.0

#Monitoring
sentry-sdk[fastapi]==1.40.0
# Image Procesing
Pillow==10.1.0